<h3>Login:</h3>
<form id="addaccount" action="/accounts" method="post">
    Username: <input type="text" name="user_name" required><br>
    Password: <input type="password" name="password" required><br>
    <input type="submit" value="Submit">
 </form>
