<h3>Register an Account:</h3>
<form id="addaccount" action="/register" method="post">
    Username: <input type="text" name="username" required><br>
    Address: <input type="text" name="address" required><br>
    Phone Number: <input type="text" name="number" required><br>
    Email:<input type="text" name="email" required><br>
    Password: <input type="password" name="password" required><br>
    Account Type:
    <select name="acc_type" required>
    <option value="pet_owner">Pet Owner</option>
    <option value="host">Host</option>
    </select><br>
    <input type="submit" value="Submit"><br>
 </form>